.form-header {
    font-size: 40px !important;
    border-bottom: 2px solid black;
}

.form-spacing {
    margin-bottom: 20px !important;
}

.submit {
    padding: 5px !important;
}

.paper-pos {
    position: relative;
    left: 30vw;
}